* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-100
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full
}

body {
  @apply bg-slate-200
}



@tailwind base;
@tailwind components;
@tailwind utilities;